.navbar {
    background: transparent !important;
    /*background-image: url(../../img/wave.svg) !important;*/
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    height: 25vh;
}
.navbar-brand {
    color: white !important;
}
.navbar-brand h1 {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .2) !important;
}